<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script type="module" src="./js/main.js"></script>
    <link rel="stylesheet" href="./css/main.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <title>WebScraper</title>
  </head>
  <body>
    <header class="flex bg-gray-700 w-full items-center h-16 px-4 fixed top-0 shadow-md ">
      <ul class="flex items-center gap-16">
        <li class="text-xl font-semibold text-white hover:text-blue-600">
          <a href="/"> Home </a>
        </li>
        <li class="text-xl font-semibold text-white hover:text-blue-600">
          <a href="/cato"> Categories </a>
        </li>
        <li class="ml-24 text-xl font-semibold text-black hover:text-blue-600 ">
          <input type="text" placeholder='  search...' id="search" name="searchBar" class="border rounded-xl">
        </li>
      </ul>
    </header>
    <div style="margin: 0 auto;" class="container">
      <main class='mt-20'>
        {% block content%} {% endblock%}
      </main>      
    </div>
  </body>
</html>