{% extends 'base.html'%} {% block content%}
<h1 class="text-5xl font-bold my-12">All Categories</h1>
<div
  id="parent"
  class="flex gap-4 grid min-[500px]:grid-cols-1 md:grid-cols-2 lg:grid-cols-4 flex-wrap justify-between"
>

</div>
<script>
  const baseURL = "http://localhost:5000/api";
  const parent = document.getElementById("parent");
  fetch(baseURL + "/find")
    .then((response) => {
      if (!response.ok) {
        throw new Error("Network response was not ok");
      }
      return response.json();
    })
    .then((data) => {
      // Handle the fetched data
      console.log("All Data:", data);
  
      let count = 0;
      const par = document.getElementById("parent");
      data.map((items, index) => {
        if (data[index + 1]) {
          // const re = new RegExp("ab*c");
          // console.log((items.Categories.split("-")[0]).split(' ')[0].length)

          const re = /[A-Z][a-z].*\w/g;
          const str = items.Categories.split("-")[0];
          const myArray = str.match(re);
          const strData = data[index + 1].Categories.split("-")[0];
          const myArrayData = strData.match(re);
          const strDataLatItem = data[data.length - 1].Categories.split("-")[0];
          const myArrayDataLastItem = strDataLatItem.match(re);
          // console.log(myArray[0]);
          // console.log(myArrayData[0]);

          if (myArray[0] != myArrayData[0]) {
            const title = document.createElement("h1");
            title.style.cursor = "pointer";
            title.style.width = "fit-content";
            title.classList =
              "text-3xl mb-12 font-semibold underline hover:text-blue-600 uppercase";
            // console.log(items.Categories);
            title.innerHTML = myArray[0];
            par.append(title);
            clickAndNavigation(title);
            // console.log("RUN");
          } else if (myArrayDataLastItem[0] == myArray[0]) {
            if (count == 0) {
              const title = document.createElement("h1");
              title.style.cursor = "pointer";
              title.style.width = "fit-content";
              title.classList =
                "text-3xl mb-12 font-semibold underline hover:text-blue-600 uppercase";
              title.innerHTML = myArrayDataLastItem[0];
              par.append(title);
              console.log(myArrayDataLastItem[0]);
              clickAndNavigation(title);
            }
            count += 1;
          }
        }
      });
    })
    .catch((error) => {
      // Handle any errors
      console.error("Error fetching data:", error);
    });
  const clickAndNavigation = (title) => {
    title.addEventListener("click", (e) => {
      console.log(title.innerHTML);
      
      window.location.href = `http://127.0.0.1:5000/cato/${title.innerHTML}`;
    });
  };

</script>
{% endblock%}
