{% extends 'base.html'%} {% block content%}
<div id="parent">
  <div
    id="parent-card"
    class="flex gap-4 grid min-[500px]:grid-cols-1 xl:grid-cols-2 flex-wrap justify-between"
  ></div>
</div>
<script>
  const checkValidURL = (checkValidParamert) => {
    let finalURL;
    console.log(checkValidParamert);
    if (checkValidParamert) {
      finalURL = urlParamsLocation.replace("%20&amp;%20", " & ");
      console.log("has &");
    } else {
      finalURL = urlParamsLocation.replace("%20", " ");
      if (finalURL.replace("%20", " ")) {
        for (let i = 0; i <= finalURL.split("/").length - 1; i++) {
          finalURL = finalURL.replace("%20", " ");
        }
        console.log(finalURL)
      }

      console.log("has not &");
    }
    return finalURL;
  };

  const urlParamsLocation = window.location.href;
  const checkValid = urlParamsLocation.match("%20&amp;%20");

  const seprate =
    checkValidURL(checkValid).split("/")[
      checkValidURL(checkValid).split("/").length - 1
    ];
  // console.log(seprate);

  const baseURL = "http://localhost:5000/api";
  const parent = document.getElementById("parent");
  const dataParent = document.getElementById("parent-card");

  fetch(baseURL + "/find")
    .then((response) => {
      if (!response.ok) {
        throw new Error("Network response was not ok");
      }
      return response.json();
    })
    .then((data) => {
      const re = /[A-Z][a-z].*\w/g;
      const h1 = document.createElement("h1");
      h1.classList = "text-5xl font-bold my-12";
      h1.innerHTML = seprate + " Books";
      data.map((items) => {
        const str = items.Categories.split("-")[0];
        const myArray = str.match(re);
        console.log(myArray[0]);
        if (myArray[0] == seprate) {
          const div = document.createElement("div");
          const divOfImage = document.createElement("div");
          const img = document.createElement("img");
          const btnDownload = document.createElement("button");

          const divOfInfo = document.createElement("div");
          const title = document.createElement("h1");
          const author = document.createElement("p");
          const desc = document.createElement("span");
          const sectionOfInfo = document.createElement("section");
          const pCato = document.createElement("p");
          const pYear = document.createElement("p");
          const pEdition = document.createElement("p");
          const pPublisher = document.createElement("p");
          const pLanguage = document.createElement("p");
          const pPage = document.createElement("p");
          const pISBN_10 = document.createElement("p");
          const pISBN_13 = document.createElement("p");
          const pSeries = document.createElement("p");
          const pFile = document.createElement("p");
          const pIPFS_CID = document.createElement("p");
          const pIPFS_CID_blake2b = document.createElement("p");

          div.classList = "flex card bg-gray-100 gap-4 p-4 rounded-lg";
          //div of image section and button
          divOfImage.classList = "flex flex-col items-center gap-2";
          img.classList = "rounded-md h-64";
          img.src = items.imgLink;
          btnDownload.classList =
            "bg-gray-200 w-full rounded-md hover:bg-gray-300 h-10";
          btnDownload.innerHTML = "Download";

          //details of book
          divOfInfo.classList = "flex w-1/2 flex-col gap-2";
          title.classList = "text-5xl capitalize";
          author.classList = "text-3xl text-gray-500 capitalize";
          desc.classList =
            "text-lg mb-14 h-20 overflow-hidden white-space-nowrap text-ellipsis";
          sectionOfInfo.classList = "flex flex-col gap-2";
          pCato.classList = "capitalize text-lg";
          pYear.classList = "capitalize text-lg";
          pEdition.classList = "capitalize text-lg";
          pPublisher.classList = "capitalize text-lg";
          pLanguage.classList = "capitalize text-lg";
          pPage.classList = "capitalize text-lg";
          pISBN_10.classList = "capitalize text-lg";
          pISBN_13.classList = "capitalize text-lg";
          pSeries.classList = "capitalize text-lg";
          pFile.classList = "capitalize text-lg";
          pIPFS_CID.classList = "capitalize text-style text-lg";
          pIPFS_CID_blake2b.classList = "capitalize text-style text-lg";

          title.innerHTML = items.title;
          author.innerHTML = items.author;
          desc.innerHTML = items.desc;

          pCato.innerHTML = "Categories: " + items.Categories;
          pYear.innerHTML = "Year: " + items.Year;
          pEdition.innerHTML = "Edition: " + items.Edition;
          pPublisher.innerHTML = "Publisher: " + items.Publisher;
          pLanguage.innerHTML = "Language: " + items.Language;
          pPage.innerHTML = "Pages: " + items.Pages;
          pISBN_10.innerHTML = "ISBN 10: " + items.ISBN_10;
          pISBN_13.innerHTML = "ISBN 13: " + items.ISBN_13;
          pSeries.innerHTML = "Series: " + items.Series;
          pFile.innerHTML = "File: " + items.File;
          pIPFS_CID.innerHTML = "IPFS CID: " + items.IPFS_CID;
          pIPFS_CID_blake2b.innerHTML =
            "IPFS CID blake2b: " + items.IPFS_CID_blake2b;

          sectionOfInfo.append(
            pCato,
            pYear,
            pPublisher,
            pLanguage,
            pPage,
            pISBN_10,
            pISBN_13,
            pSeries,
            pFile,
            pIPFS_CID,
            pIPFS_CID_blake2b
          );
          divOfInfo.append(title, author, desc, sectionOfInfo);
          divOfImage.append(img, btnDownload);
          div.append(divOfImage, divOfInfo);
          dataParent.append(div);
          parent.append(h1, dataParent);
        }
      });
    })
    .catch((error) => {
      // Handle any errors
      console.error("Error fetching data:", error);
    });
</script>
{% endblock %}
